.NavBar {
    height: 75px;
    background: #243561;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HeaderLinks {
    font-family: "Courier New", Courier, monospace;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.Logo {
    width: 88px;
    height: 71px;
    background: white;
    cursor: pointer;
}